.wrapper {
    width: 100%;
}

.disable {
    user-select: none !important;
    color: #ccc !important;
    transform: scale(1) !important;
    pointer-events: none !important;
    opacity: 0.6;
}

.container {
    padding: 0 16px;

    .btn-back {
        background-color: #fff;
        border: none;
        font-size: 24px;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: inline-block;

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }

    .title-do-list {
        display: inline-block;
        margin-left: 8px;
    }
}

.cover-input {
    width: 100%;
    display: flex;
    .form-input-mission {
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        outline: none;
        padding: 8px 10px 10px 10px;
        flex: 1;
        font-size: 18px;
        color: var(--input-text);
        font-family: Inter-Bold;
        caret-color: var(--primary-color);

        &::placeholder {
            font-family: Inter-Semibold;
            font-size: 15px;
            font-style: italic;
        }
    }

    .btn-add {
        padding: 4px 6px;
        margin-left: 8px;
        font-size: 24px;
        border: none;
        border-radius: 8px;
        border: 3px solid var(--primary-color);
        color: var(--primary-color);
        background-color: #fff;
        .icon-plus {
            transition: 0.2s ease-in-out;
        }
        &:hover {
            cursor: pointer;

            .icon-plus {
                transform: scale(1.2);
            }
        }
    }
}

.cover-bar {
    position: relative;
    width: 204%;

    .icon-reset-bar {
        position: absolute;
        top: -30px;
        right: 0;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
.list-missions {
    margin-top: 18px;
    overflow-y: auto;
    max-height: 460px;
}

.mission {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    border: 1px solid var(--primary-color);
    padding: 0 8px;
    border-radius: 8px;

    .index-mission {
        margin-right: 10px;
        font-family: Inter-bold;
        color: var(--color-text);
        font-size: 20px;
    }

    .mission-name {
        flex: 1;
        font-family: Inter-Bold;
        text-align: justify;
        font-size: 18px;
    }

    .control-mission {
        .btn {
            margin-left: 6px;
            padding: 8px;
            outline: none;
            background-color: transparent;
            border-radius: 4px;
            font-size: 20px;
            border: none;
            transition: 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }

        .delete {
            color: red;
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
        .complete {
            color: rgb(3, 252, 3);
        }
    }
}

.title-do-list {
    font-family: Agbalumo-Regular;
    i {
        color: var(--color-text);
    }
}

.progress-bar {
    margin-top: 8px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 14px;
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    &::-webkit-progress-bar {
        background-color: var(--background-modal);
        border: 1px solid #000;
        border: none;
        transition: 0.4s ease-in-out;
    }

    &::-webkit-progress-value {
        background-color: var(--color-text);
        transition: 0.5s ease-in-out;
    }
}

.percent-progress {
    color: var(--color-text);
    font-family: Inter-bold;
}
