.wrapper {
    width: 100%;
}
.disable {
    user-select: none !important;
    color: #ccc !important;
    transform: scale(1) !important;
    pointer-events: none !important;
}

.container {
    padding: 0 16px;
}

.list-missions {
    margin-top: 32px;
    overflow-y: auto;
    max-height: 460px;
}

.mission {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding: 0 8px;
    border-radius: 8px;
    .mission-name {
        flex: 1;
        font-family: Inter-Bold;
        text-decoration: line-through;
        font-size: 24px;
        font-style: italic;
    }
}

.control-mission {
    .btn {
        margin-left: 6px;
        padding: 8px;
        outline: none;
        background-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        border: none;
        transition: 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }

    .delete {
        color: red;
    }
}

.all-completed {
    padding: 6px;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    font-family: Inter-bold;
    border: 4px solid var(--primary-color);
    color: var(--color-text);
    position: relative;
    margin-bottom: 2px;

    .total {
        position: absolute;
        border-radius: 50%;
        background-color: red;
        color: #fff;
        text-align: center;
        top: -8px;
        left: 80%;

        &.total0 {
            display: none;
        }

        &.total1 {
            width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 14px;
        }

        &.total2 {
            width: 21px;
            height: 21px;
            line-height: 21px;
            font-size: 14px;
        }

        &.total100 {
            width: 34px;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            border-radius: 24px;
        }

        &.total101 {
            width: 36px;
            height: 20px;
            line-height: 20px;
            border-radius: 24px;
            font-size: 13px;
            padding: 0 2px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        color: #fff;
        border-color: var(--color-text);
    }
}

.title-done-list {
    i {
        color: var(--color-text);
    }
}
