.wrapper {
    padding: 8px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    font-family: Inter-bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 48px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;

    .logo {
        height: 58px;
        cursor: pointer;
    }
}

.cover-gift {
    display: flex;
    align-items: center;

    .label-gift {
        margin-right: 10px;
    }

    .value-gift {
        margin-right: 32px;
        cursor: pointer;
        i {
            color: yellow;
        }
    }

    .btn-draw {
        border: 1px solid #ccc;
        padding: 8px 16px;
        font-size: 18px;
        border-radius: 8px;
        color: var(--primary-color);
        transition: 0.2s ease-in-out;
        margin-right: 10px;
        font-family: Inter-bold;
        position: relative;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transform: scale(1.04);
        }
    }
}

.modal-theme {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    border-radius: 8px;
    .inner-modal {
        padding: 8px;
        .theme-item {
            padding: 4px 8px;
            margin-bottom: 8px;
            border-radius: 8px;

            &:hover {
                transform: scale(1.04);
            }
        }

        .default {
            background-color: #ec1f55;
            color: #ec1f55;
        }

        .pink {
            background-color: pink;
            color: pink;
        }

        .black {
            background-color: black;
            color: black;
        }

        .orange {
            background-color: orange;
            color: orange;
        }

        .blue {
            background-color: rgb(181, 181, 242);
            color: rgb(181, 181, 242);
        }

        .green {
            background-color: rgb(62, 227, 62);
            color: rgb(62, 227, 62);
        }

        .gray {
            background-color: gray;
            color: gray;
        }
    }
}
